.navbar {
  background-color: #c2dedc;
  height: 50px;
  display: flex;
  gap: 36px;
  padding: 0px 100px;
  align-items: center;
}

.marginLeft {
  margin-left: auto;
}

.bbrLogo {
  font-weight: 600;
  font-size: 18px;
  color: #116a7b;
}
